@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;600;700&display=swap');

$pink: #D36CF8;
$fiol: #8C98FF;
$gray: #363636;
$wh: #FFFFFF;

$K2D: 'K2D', sans-serif;

$r_minmob:320px;
$r_mob_360:360px;
$r_mob_400:400px;
$r_mob_500:500px;
$r_mob_600:600px;
$r_tab:768px;
$r_tab_900:900px;
$r_desk:1000px;
$r_desk_1120:1120px;
$r_desk_hd:1200px;
$r_desk_1280:1280px;
$r_desk_1350:1350px;
$r_desk_full_1750:1750px;

html
{
    font-size: 8px;
    @media (max-width:$r_mob_500) 
    {
        font-size: 6px;
    }
}
body
{
    font-size: 2rem;
    font-family: $K2D;
    background: $gray;
    position: relative;
    color: $wh;
}

.container
{
    width: 1460px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header
{
    background-color: $gray;
    max-width: 1460px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 15px 0 15px;
    position: relative;
    &__navigation
    {
        align-self: flex-start;
        flex-basis: 52%;
    }
    &__logo
    {
        background: linear-gradient(180deg, #8C98FF 0%, rgba(211, 108, 248, 0.75) 100%);
        width: 150px;
        height: 98px;
        border-radius: 150px;
        opacity: 0.8;
        border: $fiol 1px solid;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
        
        &:hover
        {
            background: transparent;
            border: $pink 1px solid;
            box-shadow: 0px 15px 25px rgba(140, 152, 255, 0.75);
            animation: shadow 3s linear infinite;
            .header__heart
            {
                animation: heart 3s linear infinite;
                background-image: url(../img/heart-solid\ wh.png);
            }
        }
    }
    &__heart
    {
        background-image: url(../img/heart-solid\ 2.png);
        position: absolute;
        width: 79px;
        height: 79px;
        left: 35px;
        top: 10px;
        cursor: pointer;
        transform: scale(1);
        transition: 0.5s;
        
    }
    &__nav
    {
        display: flex;
        list-style-type: none;
        margin: 2rem 0 0;
        padding-left: 0;
        gap: 3.8rem;
        &-conect
        {
            gap: 2rem;
        }
        
    }
    &__link
    {
        text-decoration: none;
        transition: 0.3s;
        font-size: 2.7rem;
        position: relative;
        color: $wh;
        &:hover
        {
            color: $pink;
            &::after
            {
                width: 100%;
                background-color: $pink;
            }
        }
        &-tel
        {
            font-size: 2.5rem;
            &::before
            {
                display: block;
                position: absolute;
                content: "";
                height: 24px;
                width: 1px;
                background-color: rgba($color: $wh, $alpha: 0.8);
                right: -1rem;
            }
        }
        &-mail
        {
            font-size: 2.5rem;
        }
        &::after
        {
            display: block;
            position: absolute;
            content: "";
            height: 1px;
            width: 0;
            background-color: $wh;
            left: 0%;
            transition: 0.3s;
            bottom: -5px;
        }
    }
    &__conect
    {
        gap: 4.5rem;
    }
    &__head
    {
        position: absolute;
        background: linear-gradient(180deg, #8C98FF 0%, rgba(211, 108, 248, 0.75) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15rem;
        margin: 0 auto;
        left: 210px;
        bottom: -90px;
        &::after
        {
            display: block;
            position: absolute;
            content: "";
            background-image: url(../img/heart-regular\ 1.png);
            width: 91px;
            height: 91px;
            right: -100px;
            top: 30px;
        }
    }

}
.who
{
    background: $wh;
    padding-top: 11rem;
    padding-bottom: 1rem;
}
.wrapper
{
    background: linear-gradient(180deg, rgba(140, 152, 255, 0.74) 0%, rgba(211, 108, 248, 0.51) 100%);
    border-radius: 240px;
    margin-left: 20rem;
    margin-right: 20rem;
    height: 335px;
    display: flex;
    align-items: center;
    &-big
    {
        height: 900px;
    }
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-form
    {
        margin-bottom: 7rem;
    }
}
.head
{
    font-size: 8rem;
    &-big
    {
        width: 596px;
    }
}
.text
{
    font-size: 4rem;
    font-weight: 600;
    opacity: .8;
    width: 557px;
    &-photo
    {
        width: 320px;
    }
    &-video
    {
        width: 488px;
    }
    &-form
    {
        width: 600px;
    }
}
.line
{
    background-image: url(../img/Vector\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 182px;
    &-2
    {
        background-image: url(../img/Vector\ 2.jpg);
        height: 181px;
    }
    &-3
    {
        background-image: url(../img/Vector\ 3.jpg);
    }
}
.photo
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $wh;
}
.column
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    &-video
    {
        margin-bottom: 0;
        margin-top: 5rem;
        gap: 5rem;
    }
    &-form
    {
        margin-bottom: 7rem;
    }
}
.slider
{
    overflow: hidden;
    padding-top: 10rem;
}
.swiper
{
    overflow: initial;
    &-slide
    {
        border-radius: 20px;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: 0.3s;
        position: relative;
        z-index: 0;
        width: 300px;
        height: 500px;
        &::after
        {
        content: '';
        background-color: rgba($wh, .15);
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 20px;
        z-index: -1;
        }
        &_1
        {
            background-image: url(../img/1.jpg);
        }
        &_2
        {
            background-image: url(../img/2.jpg);
        }
        &_3
        {
            background-image: url(../img/3.jpg);
        }
        &_4
        {
            background-image: url(../img/4.jpg);
        }
        &_5
        {
            background-image: url(../img/5.jpg);
        }
        &_6
        {
            background-image: url(../img/6.jpg);
        }
        &_7
        {
            background-image: url(../img/7.jpg);
        }
    }
    &-pagination
    {
        display: none;
    }

    &-button-next, &-button-prev
    {
        top: -60px;
        &::after 
        {
            color: rgba($wh, 0.4);
            font-size: 30px;
            transition: 0.3s;
        }

        &:hover 
        {
            &::after 
            {
                color: rgba($wh, 1);         
            }
        }
    } 
    &-button-next {
        right: 0px;
    }

    &-button-prev {
        left: initial;
        right: 72px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets
{
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullet-active
{
    background: $pink;
    border: 1px solid $pink;
    animation: pulse 3s linear infinite;
}
.swiper-pagination-bullet
{
    width: 8px;
    height: 8px;
}
.video
{
    background: $wh;
    padding: 1rem 0;
    &__play
    {
        height: 600px;
        width: 337px;
        border-radius: 50px;
        align-self: center;
    }
    
}
.form 
{
    background: $wh;
    padding: 1rem 0 11rem;
}
.contact-form 
{
    width: 596px;
    @media (max-width: $r_tab) 
    {
        order: 0;
        flex-basis: 100%;
        margin-bottom: 6.3rem;
        margin-left: 0;
    }
    &__label 
    {
        display: block;
        color: rgba($wh, .8);
        font-size: 2.7rem;
        font-weight: 400;
        margin-bottom: 1.3rem;
        @media (max-width: $r_mob_500) 
        {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) 
        {
            margin-bottom: 1.1rem;
        }
    }
    &__input 
    {
        width: 100%;
        box-sizing: border-box;
        background: rgba($color: $wh, $alpha: 0.3);
        border: none;
        padding: 3rem 2rem;
        color: rgba($wh, .2);
        font-size: 2rem;
        margin-bottom: 3.2rem;
        border-radius: 20px;
        @media (max-width: $r_mob_500) 
        {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) 
        {
            padding: 2.1rem 2rem;
        }
        &:focus 
        {
            color: $wh;
            outline: none;
        }
        &:invalid 
        {
            border: 1px solid red;
        }
        &::placeholder
        {
            color: rgba($color: $wh, $alpha: 0.5);
            font-size: 2rem;
        }
    }
    &__group 
    {
        margin-bottom: 4.1rem;
    }
    &__btn 
    {
        background-color: $wh;
        color: $fiol;
        font-size: 2rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        text-align: center;
        width: 100%;
        transition: .3s;
        border: 1px solid rgba($wh, .0);
        border-radius: 20px;
        @media (max-width: $r_mob_500) 
        {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_400) 
        {
            padding-top: 2rem;
        }
        &:hover 
        {
            border: 1px solid rgba($wh, .8);
            color: $wh;
            background-color: transparent;
        }
    }
}
.dropdown 
{
    position: relative;
    &__button 
    {
        display: block;
        position: relative;
        width: 100%;
        background: rgba($color: $wh, $alpha: 0.3);
        border: none;
        color: $wh;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
        padding: 2.7rem 2rem;
        cursor: pointer;
        border-radius: 20px;
        margin-bottom: 6rem;
        @media (max-width: $r_mob_500) 
        {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) 
        {
        
            padding: 2.1rem 2rem;
        }
    }
    &__arrow {
        display: block;
        position: absolute;
        background-image: url(../img/Arrowdown.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        top: 54%;
        right: 24px;
        transform: translateY(-50%);
        pointer-events: none;  
        transition: .3s ease-in-out; 
        @media (max-width: $r_mob_400) 
        {
            right: 26px;
        }
    }
    &__list 
    {
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: rgba($color: #DDC8FE, $alpha: 1.0);
        overflow: hidden;
        z-index: 1;
        transition: .3s ease-in-out;
        border-radius: 20px;
    }
    &__list-item 
    {
        margin: 0;
        padding: 0;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        color: rgba($wh, .5);
        font-size: 2rem;
        font-weight: 400;
        cursor: pointer;
        transition: .3s;
        &:nth-child(1) 
        {
            margin-top: 1rem;
        }
        &:hover 
        {
            color: $wh;
        }
    }
    &__input-hidden 
    {
        display: none;
    }
}
.dropdown-list 
{
    &_visible 
    {
        display: block;
    }
}
.dropdown-active 
{
    transform: rotate(180deg);
    top: 48%;
}
.form-group 
{
    margin-bottom: 4rem;
    @media (max-width: $r_mob_400) 
    {
        margin-bottom: 3.1rem;
    }
}



.magic,
.magic::after 
{
  animation-delay: 0;
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: 1;
  animation-iteration-count: var(--iterations, 1);
  animation-duration: 800ms;
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.magic 
{
  position: relative;
  animation-name: text;
  white-space: nowrap;
}

.magic::after 
{
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 198, 249, 0.742);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer;
}
.footer
{
    padding-top: 3.2rem;
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        height: 110px;
        @media(max-width:$r_tab_900)
        {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            padding-top: 4rem;
        }
        @media(max-width:$r_mob_600)
        {
            padding-top: 2rem;
        }
    }
    &__contact
    {
        @media(max-width:$r_tab_900)
        {
            padding-bottom: 2rem;
        }
    }
    &__list
    {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 3.5rem;
        @media(max-width:$r_mob_600)
        {
            gap: 1.8rem;
        }
        @media(max-width:$r_mob_500)
        {
            gap: 1rem;
        }
        @media(max-width:$r_mob_360)
        {
            gap: 0.5rem;
        }
    }
    &__soc
    {
        display: flex;
        gap: 2rem;
    }
    &__vk
    {
        background-image: url(../img/vk.svg);
        display: block;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        transition: 0.3s;
        transform: scale(1);
        &:hover
        {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &__tik
    {
        background-image: url(../img/tik.svg);
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        transition: 0.3s;
        transform: scale(1);
        &:hover
        {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &__inst
    {
        background-image: url(../img/inst.svg);
        display: block;
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
        transition: 0.3s;
        transform: scale(1);
        &:hover
        {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &__under
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        @media(max-width:$r_mob_600)
        {
            flex-direction: column;
            justify-content: center;
            padding-top: 1.5rem;
        }
        @media(max-width:$r_mob_500)
        {
            padding-top: 0;
        }
    }
    &__copy 
    {
        opacity: 0.3;
        font-size: 1.5rem;
        line-height: 150%;
    }
   
    &__author-text 
    {
        opacity: 0.3;
        font-size: 1.5rem;
        line-height: 150%;
        @media(max-width:$r_mob_360)
        {
            font-size: 1rem;
        }
    }

    &__author-link 
    {
        color: $wh;
        opacity: 0.6;
        transition: 0.3s;

        &:hover 
        {
            opacity: 1;
        }
    }
}



@keyframes text 
{
    from 
    {
        clip-path: inset(0 100% 0 0);
    }
    to 
    {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer 
{
   
    0%, 50% 
    {
        transform-origin: 0 50%;
    }
    
    60%, 100% 
    {
        transform-origin: 100% 50%;  
    }

    
    60% 
    {
        transform: scaleX(1);
    }
    
    100% 
    {
        transform: scaleX(0);
    }
}
@keyframes heart
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}
@keyframes shadow
{
    0%
    {
        box-shadow: 0px 15px 25px rgba(140, 152, 255, 0.75);
    }
    50%
    {
        box-shadow: 0px 25px 50px 0px rgba(140, 152, 255, 0.75);
    }
    100%
    {
        box-shadow: 0px 15px 25px rgba(140, 152, 255, 0.75);
    
    }
}
